<div class="container">
    <h1>Movie Finder</h1>
    <form>
        <div class="form-group">
            <input type="text" name="movie-name" class="form-control" #movieName placeholder="Enter movie name">
        </div>
        <button (click)="getMovieDetails(movieName)" type="submit" class="btn btn-primary mt-2">Get Movie Details</button>
    </form>
    <div class="row bg-light mt-4 p-4" *ngIf="movieData">
        <div class="col-sm-4">
            <div>
                <h3>{{movieData.Error}}</h3>
            </div>
            <div *ngIf="movieData.Title">
                <img src="{{movieData.Poster}}" alt="movie poster">
            </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="movieData.Title">
                <h1>{{movieData.Title}}</h1>
                <h2>Director: {{movieData.Director}}</h2>
                <h3>Ratings</h3>
                <p *ngFor="let rating of movieData.Ratings">{{rating.Source}} : {{rating.Value}}</p>
            </div>
        </div>
    </div>
</div>